<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="parsers_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/parsers.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="parsers" level="ERROR" additivity="false">
        <appender-ref ref="parsers_log" />
        <appender-ref ref="CONSOLE" />
    </logger>


</configuration>