body {
    background-image: url('../img/wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}


.header {
    width: 100%;
    height: 160px;
    margin-bottom: 8%;
}

td {
    vertical-align: middle !important;
}

.h1, .h2, .h3, h1,h2,h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.city {
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.city:hover {
    color: white;
    text-shadow: 0 0 7px rgba(0,0,0,0.9);
}

.city:visited {
    color: white;
    text-shadow: 0 0 2px rgba(0,0,0,1);
}